**1-Write a Python program to calculate the length of a string using 2 ways

In [3]:
str = "Ahmed"
print(len(str))

5

In [4]:
counter = 0
for i in str:
    counter +=1
print (counter)

5

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [10]:
def prg(word) :
    if (len(word))> 2:
        print(word[0] , end = "")
        print(word[1], end = "")
        print(word[-2], end = "")
        print(word [-1] )
              
    if (len(word) == 2):
        print(word, end = "")
        print(word)
    if (len(word) < 2):
        print("Empty String")

sample1 = "w3resource"
sample2 = "w3"
sample3 = "w"
prg(sample1)
prg(sample2)
prg(sample3)

w3ce
w3w3
Empty String

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [15]:
def add (word):
    if (len(word) >= 3):
        if (word[-3] == 'i' and word[-2] == 'n' and word[-1] == 'g'):
            print(word + "ly")
            #print( "ly")
        else :
            print(word + "ing")
           # print("ing")
    if (len(word) < 3):
        print(word)
str = "abc"
add(str)

abcing

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [33]:
lst = ["ahmed", "youssef", "Mohammed", "Ibrahim"]
maximum = 0
counter = 0
for i in lst:
    if len(i) >  counter :
        maximum = i
        counter = len(i)
print(maximum)
print(len(maximum))

Mohammed
8

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [41]:
N = "abcda"
N = N.replace("a" , "e")
print(N)

ebcde

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [47]:
n = "abca"
b = ""
for i in range(0 , len(n) -1 ):
    if (i % 2 ==0):
        b += n[i]
    else:
        continue
print(b)

ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [56]:
st = "amr and ahmed are frindes but amr is the tallest"
words = st.split()
counter = 0
for i in words:
    if i == "amr":
        counter += 1
print(counter)

2

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [57]:
N = input("")
print(N.lower())
print(N.upper())

OmaR
omar
OMAR

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [41]:
name = "Omar Aoelnag"
if (len(name)%4 == 0 ):
    print(name[-1::-1])
else: print(name)

ganleoA ramO

**10- Write a Python program to remove a newline in Python

In [68]:
st = "amr and ahmed are frindes but amr is the tallest \n"
st2 = "amr"
st = st.replace("\n" , "")
print(st ,st2)

amr and ahmed are frindes but amr is the tallest  amr

**11-Write a Python program to check whether a string starts with specified characters

In [74]:
N = input("")
vowels = "AEIOUaeiou"
if (N[0] in vowels):
    flag = True
else:
        flag = False
print(flag)

samer
False

**12- Write a Python program to add prefix text to all of the lines in a string

In [85]:
st = "amr and ahmed are frindes but amr is the tallest\nbut amr is fatter\nmay be youssef is smarter than both"
st = st.split("\n")
for i in st:
    print(">" + i)

>amr and ahmed are frindes but amr is the tallest
>but amr is fatter
>may be youssef is smarter than both

**13-Write a Python program to print the following numbers up to 2 decimal places

In [98]:
N = 15.5656
N = round(N , 2)
print(N)

15.57

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [114]:
N = "15.555555"
words = N.split(".")
if (len(words[1]) <= 2):
    print(">" + N)

**15-Write a Python program to display a number with a comma separator

In [87]:
n = "7.676"
n = n.replace(".", ",")
print(n)

7,676

**16-Write a Python program to reverse a string using 2 ways

In [91]:
N = "Omar"
print(N[-1::-1])

ramO

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [120]:
A = "ABCABERYTD"
B = {}
for letter in A : 
    if (letter in B):
        B[letter] += 1
    else:
        B[letter] = 1
print(B)

{'A': 2, 'B': 2, 'C': 1, 'E': 1, 'R': 1, 'Y': 1, 'T': 1, 'D': 1}

**18-Write a Python program to find the first non-repeating character in a given string

In [134]:
N ="geeksforgeeks"
flag = False
for i in N:
    if flag == False :
        if (N.count(i) == 1):
            flag = True
            print(i)
            
        else: flag = False

f

**19-Write a Python program to remove spaces from a given string

In [135]:
N = " Omar Mohammed Mossaad "
N = N.replace(" " , '')
print(N)

OmarMohammedMossaad

**20-Write a Python program to count the number of non-empty substrings of a given string

In [140]:
N = "abcd"
n = len(N)
e = n*(n+1)/2 
print(e)

10.0

**21-write a Python program to swap first and last element of any list.

In [137]:
l = ["Omar" , "Yousef" , "Ibrahim " , "rabea"]
l[0] , l[-1] = l[-1] , l[0]
print(l)

['rabea', 'Yousef', 'Ibrahim ', 'Omar']

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [142]:
def swap(l , pos1 , pos2):
    l[pos1-1] , l[pos2-1] = l[pos2-1] , l[pos1-1]
    return l
l = ["Omar" , "Yousef" , "Ibrahim " , "rabea"]
print(swap(l , 2 , 4))

['Omar', 'rabea', 'Ibrahim ', 'Yousef']

**23- search for the all ways to know the length of the list

In [144]:
l = ["Omar" , "Yousef" , "Ibrahim " , "rabea"]
counter = 0 
print(len(l))
for i in l:
    counter += 1
print(counter)

4
4

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [146]:
l = [1 , 5 , 8, 3 ,8 ,10 , 9 , 44, -1]
l.sort()
print(l[-1])

44

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [148]:
l = [1 , 5 , 8, 3 ,8 ,10 , 9 , 44, -1]
l.sort()
print(l[0])

-1

**26-search for if an elem is existing in list

In [149]:
l = [1 , 5 , 8, 3 ,8 ,10 , 9 , 44, -1]
for i in l:
    if i == 5:
        flag == True
print(flag)

True

**27- clear python list using different ways

In [5]:
l = [1 , 5 , 8, 3 ,8 ,10 , 9 , 44, -1]
while(len(l) != 0):
    l.pop()
print(l)

[]

[]

In [151]:
l = [1 , 5 , 8, 3 ,8 ,10 , 9 , 44, -1]
l.clear()
print(l)

[]

**28-remove duplicated elements from a list

In [14]:
l = [3 , 5 , 8, 3 ,8 ,10 , 9 , 44, -1 , 9]
l = set(l)
print(l)

{3, 5, 8, 9, 10, 44, -1}

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [26]:
l = ["Gfg" , 3 , "is" ,8]
key = ["Name" , "id"]
l2 = []
Dict = {}
for x in range(len(l)):
    if (x%2 == 0):
        l2.append({key[0] : l[x]})
    else:
        l2.append({key[1] : l[x]})
print(l2)

[{'Name': 'Gfg'}, {'id': 3}, {'Name': 'is'}, {'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [28]:
l = [1 , 2 , 2 , 3 , 4 , 4 , 5, 4 ,-1 , 0,5]
l2 = []
counter = 0
for i in l:
    if i not in l2:
        l2.append(i)
        counter += 1
    
print(counter)

7

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [10]:
list = [4, 6, 4, 3,3,4,3,4,3,8 ,8,6]
repeatition = 0
New_list = []
k = 2
for i in list:
    repeatition = list.count(i)
    if (repeatition > k ):
        if(i in New_list):
            continue 
        else:
            New_list.append(i)

print(New_list)

[4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [9]:
def comb(L):
    for i in range(3):
        for j in range(3):
            for k in range(3):
                if (i != j and j != k and i != k ):
                    print(L[i],L[j],L[k])
comb([1,2,3])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [35]:
l = [1 , 2 ,3]
x = []
for i in l: 
    for v in l:
        if (v == i):
            x.append([v])
        else:
            added = [v,i]
            added.sort()
            if(added not in x):
                x.append(added)
                
x.append(l)
print(x)

[[1], [1, 2], [1, 3], [2], [2, 3], [3], [1, 2, 3]]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [21]:
list_1 = ['a' , 'b' ]
list_2 = [1 , 2  ]
def comb(L1,L2):
    for i in range (2):
        for j in range(2):
            
            print(L1[i],L2[j])
comb(list_1, list_2)

a 1
a 2
b 1
b 2

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [31]:
list = [1, 1 , 2 ,3 ,4, 5 , 1 ,2, 1]
k = 1
for i in list:
    if i == 1 :
        list.remove(1)
print(list)

[2, 3, 4, 5, 2, 1]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [23]:
l1 = ["Gfg" , 'is' , 'best']
l2 = [0 ,1 , 2 , 1 , 0 , 0 , 0 , 2 ,1 , 1, 2 ,0]
l3 = []
for i in l2:
    l3.append(l1[i])
print(l3)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [34]:
test_list = [(4,5,5,4), (5,4,3)]
counter = 0
ol = []
N = input("")
K = input("")
for  i in test_list:
    j = i.count(int(K))
    if j == int(N):
        ol.append(i)
print(ol)

3
5
[]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [32]:
lst = [(1,3,3) , (2,1,2) , (3,2,1)]
for i in range(len(lst)):
    sorted_array =sorted(lst, key = lambda x : x[i])
    print("Sorted array specific to column",i+1 , sorted_array)

Sorted array specific to column 1 [(1, 3, 3), (2, 1, 2), (3, 2, 1)]
Sorted array specific to column 2 [(2, 1, 2), (3, 2, 1), (1, 3, 3)]
Sorted array specific to column 3 [(3, 2, 1), (2, 1, 2), (1, 3, 3)]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [11]:
inp = {'ravi' : 10 ,'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32 }
inp2 = {}
my_keys = list(inp.keys())
my_keys.sort()
for i in my_keys:
    inp2[i] = inp[i]
print(inp2)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [79]:
inp = {'ravi' : 10 ,'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32 }
inp2 = {}
l = list(inp.values())
v = list(inp.keys())
l.sort()

for n in l:
    for i in v :
        if inp[i] == n:
            inp2[i] = n
print(inp2)

{'yash': 2, 'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [35]:
test_dict = {"Gfg" : 3, "is" : 7, "best" : 10, "for" : 6 , 'geeks' : 'CS'}
k = input("")
l = list(test_dict.keys())
for i in l:
    try:
        if (test_dict[i] >= int(k)):
            del test_dict[i]
    except:
        continue
print(test_dict)

7
{'Gfg': 3, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [46]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
def merg (d1 , d2 , d3):
    d1.update(d2)
    d1.update(d3)
    return d1
print(merg(dic1, dic2 , dic3))

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [53]:
test_dict = {"Gfg" : 3, "is" : 7, "best" : 10, "for" : 6 , 'geeks' : 'CS'}
for i , x in test_dict.items():
    print(i)
    print(x)

Gfg
3
is
7
best
10
for
6
geeks
CS

**44- Write a Python script to merge two Python dictionaries

In [57]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
def merg(d1 , d2):
    d1.update(d2)
    return d1
print(merg(dic1 , dic2))

{1: 10, 2: 20, 3: 30, 4: 40}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [58]:
dict = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
l = list(dict.values())
l.sort()
print(l[0])
print(l[-1])

2
32

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [69]:
dict = {'c1': "Red", 'c2': 'Green', 'c3': None}
l = list(dict.keys())
for i in l :
    if (dict[i] == None):
        del dict[i]
print(dict)

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [1]:
tp = (1 , 3 , 5 ,6 )
l = list(tp)
print(l[1])

3

**48-Write a Python program to unpack a tuple into several variables

In [2]:
tp = (15 , "Ahmed" , 90)
l = list(tp)
Age = l[0]
name = l[1]
Grade = l[2]

Ahmed

**49-Write a Python program to add an item to a tuple

In [4]:
tp = ("Ahmed" , "Youssef" , "Ibrahim")
l = list(tp)
l.append(input(""))
tp = tuple(l)
print(tp)

Mohammed
('Ahmed', 'Youssef', 'Ibrahim', 'Mohammed')

**50-Write a Python program to convert a tuple to a string

In [15]:
tp = ('O' , 'm' , 'a' , 'r')
Name = ""
name = list(tp)
for i in name:
    Name += i
print(Name)

Omar

**51-Write a Python program to convert a list to a tuple

In [17]:
lst = ["Omar" , "Mohammed" , "Ibrahim"]
tup = tuple[lst]
print(tup)

tuple[['Omar', 'Mohammed', 'Ibrahim']]

**52-Write a Python program to reverse a tuple

In [19]:
tp = ("Ahmed" , "Youssef" , "Ibrahim")
lst = list(tp)
lst.reverse()
print(lst)

['Ibrahim', 'Youssef', 'Ahmed']

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [7]:
lst = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
f= []
b= []
for i in lst:
    f.append(list(i))
for x in range(3):
    f[x][2] = 100
for g in f:
    b.append(tuple(g))
print(b)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [10]:
lst = []
name = "python3.0"
for i in range(len(name)):
    lst.append(name[i])
tup = tuple(lst)
print(tup)

('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [16]:
tup = (50 , 60 , 55, 65 , 47)
lst= list(tup)
N = 0
for i in lst:
    N += i 
N = N/len(lst)
print(N)

55.4

**56-Write a Python program to add member(s) to a set.

In [21]:
st = {3 , 5  , 7 , 4 , 10}
lst = list(st)
lst.append(12)
st = set(lst)
print(st)

{3, 4, 5, 7, 10, 12}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [29]:
st = {3 , 5  , 7 , 4 , 10 , 12 , 25}
if 5 in st:
    st.remove(12)
print(st)

{3, 4, 5, 7, 25, 10}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [5]:
set1 = {1 ,2 , 5 , 7 ,8 }
set2 = {3 , 7  , 9 , 2}
print(f"Union : {set1 | set2}")
print(f"Intersection : {set1 & set2}")
print(f"difference : {set1 - set2}")
print(f"Symmetric differences :{set1^set2}")

Union : {1, 2, 3, 5, 7, 8, 9}
Intersection : {2, 7}
difference : {8, 1, 5}
Symmetric differences :{1, 3, 5, 8, 9}

**59-Write a Python program to find the maximum and minimum values in a set

In [13]:
A = {1 , 6 , -4 , -9 , 8 }
B = list(A)
B.sort()
print(B[0] , B[-1])

-9 8

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [26]:
A = [1,2 ,2 , 5 , 5 , 6 , 7 ,8 ]
st = set(A)
A = list(st)
lst = []
Target = 9
for i in A:
    for x in A:
        if x != i:
            if (x + i == Target):
                if (x in lst or i in lst):
                    continue
                else:
                    lst.append(i)
                    lst.append(x)
                    print(i,",",x , "\n")
        else:
            continue

1 , 8

2 , 7